<p id="notice"><%= notice %></p>

<h1>Tur Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tur_types.each do |tur_type| %>
      <tr>
        <td><%= tur_type.name %></td>
        <td><%= link_to 'Show', tur_type %></td>
        <td><%= link_to 'Edit', edit_tur_type_path(tur_type) %></td>
        <td><%= link_to 'Destroy', tur_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tur Type', new_tur_type_path %>
