<!DOCTYPE html>
<html>
<head>
  <title>Sky</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


  <script>
    $(document).ready(function () {
      $('.parallax').parallax();
      $('.slider').slider();
      $('.dropdown-botton').dropdown();
      $('.button-collapse').sideNav();
      $('.modal-trigger').leanModal();
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
      $('.carousel').carousel();
      $('select').material_select();
    })
  </script>
</head>

<body>
<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a><%= link_to 'Logo', root_path, id: 'logo-container', class: 'brand-logo' %></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link1</a></li>
        <li><a href="#">Navbar Link2</a></li>
        <li><a href="#">Navbar Link3</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav ">
        <li><a href="#">Navbar Link1</a></li>
        <li><a href="#">Navbar Link2</a></li>
        <li><a href="#">Navbar Link3</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse hi"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<%= yield %>

<footer class="page-footer light-blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-5">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><%= link_to "Link 1", root_path , class: 'white-text' %></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
</body>
</html>
